<%- include('header') %>

<main class="w-[380px] m-auto mb-16">
    <div class="p-3"></div>
    <div class="px-3">
        <div class="px-2">
            <img src="<%- data.img %>" alt="game" class="w-[200px] m-auto mb-2">
            <h1 class="text-center text-[#fff] text-xl"><%- data.name %></h1>
            <a href="/game/<%- data.slug %>/play">
                <div class="text-center text-[#fff] p-2 rounded-xl mt-2" style="background: linear-gradient(110.22deg, #1E85F3 25.96%, #05429B 81.15%);">Play Now</div>
            </a>
        </div>
    </div>
    <div id='div-gpt-ad-1720714168712-0' style='min-width: 336px; min-height: 280px;'>
        <script>
            googletag.cmd.push(function() { googletag.display('div-gpt-ad-1720714168712-0'); });
        </script>
    </div>
</main>
<section class="max-w-[1024px] m-auto">
    <div class="px-3">
        <div class="px-2">
            <div class="flex flex-wrap justify-center gap-4 pb-5">
                <% for (let i = 0; i < newdata.length; i++) {
                    const element = newdata[i];
                    %>
                    <div class="p-3 bg-[#121237] rounded-2xl max-w-[150px] sm:max-w-[200px]">
                        <img src="<%- element.img %>" alt="" class="rounded-xl w-full">
                        <a href="/game/<%- element.slug %>">
                            <img src="/image/play_button.png" alt="" class="w-[60px] m-auto mt-[-25px]" loading="lazy">
                        </a>
                        <div class="text-center text-[#ffffff] font-medium"><%- element.name %></div>
                    </div>
                    <%
                } %>
            </div>
        </div>
    </div>
</section>


<%- include('footer') %>